# Python Virtual Env
venv/
env/

# Python Cache
__pycache__/
*.pyc

# Dataset & Models (Too large for GitHub)
assets/dataset.bin
assets/dataset.csv
assets/weights.pth
assets/tokenizer.json
assets/input.txt
assets/cleaned_data.txt
dataset_preview.csv
runs/

# OS Files
.DS_Store